
    <div id="products" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">{{title}}</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div id="contact" class="content-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                
                            </div> <!-- /.col-md-6 -->
                            <div class="col-md-6 col-sm-6">
                                
                                <div class="row contact-form">


                                    <form>
                                    <fieldset class="col-md-12">
                                        <input ng-model="emailToReset"  type="email" name="email" id="email" placeholder="Enter Email Address" required autofocus="">
                                    </fieldset>
                                    <fieldset class="col-md-12">

                                        <a ng-click="resetPassword()" class="action-button shadow animate green">Reset</a>
                                    </fieldset>   
                                    </form>

                                    




                                </div> <!-- /.contact-form -->
                                
                            </div> <!-- /.col-md-6 -->
                            <div class="col-md-3 col-sm-3">
                                
                            </div> <!-- /.col-md-6 -->
                        </div> <!-- /.row -->
                    </div> <!-- /.container -->
                </div> <!-- /#products -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#products -->

    
